<!--The content below is only a placeholder and can be replaced.-->

<div class="jumbotron">
  <h1>Hello world application E3</h1>
</div>

<form #helloForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="well">
    <label for="usr">Please enter name here:</label>
    <input type="text" [(ngModel)]="name" name="name">
    <button type="submit" class="btn btn-default">Click</button>
  </div>
</form>

<div *ngIf="hello" class ="alert alert-info">
  Result: {{hello.message}}
</div>

<div *ngIf="errorMsg" class="alert alert-warning">{{ errorMsg }}</div>
